@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(0, 0, 87);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1{
    color: white;
    font-size: 70px;
    margin-bottom: 100px;
    font-family: 'DynaPuff', cursive;
}

button{
    background-color: yellow;
    font-size: 50px;
    font-family: 'DynaPuff', cursive;
    padding: 30px 570px;
    border: 5px solid black;
    border-radius: 22px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: 400ms;
    z-index: 100000;
    margin-top: 300px;
}

button:hover{
    background-color: rgb(247, 176, 176);
    color: navy;
}

img{
    margin-top: 100px;
    width: 310px;
}

.main-heading{
    margin-top: 250px;
}